<div mat-dialog-content style="font-size: 10px" class="m-0 p-0">
    <label>Country</label>
    <input matInput [(ngModel)]="data.name">
    <label>Wind Probability</label>
    <input matInput [(ngModel)]="data.windProb">
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" style="font-size: 10px">Aply Filter</button>
</div>
