<div style="width: 160px">
    <div class="p-0">
        <label class="m-0" id="name" style=" font-weight: bold;">{{spot.name}}   <span *ngIf='spot.isFavorite'><img src="../../../../assets/favorite-marker.png" /></span></label>
        <br>
        <label class="m-0" id="country" style="font-size:0.6rem;">{{spot.country}}</label>
    </div>
    <br>
    <div class="p-0" style="margin-bottom: 3px">
        <label class="m-0" style="font-size:0.6rem;">WIND PROBABILITY</label>
        <br>
        <label class="m-0" id="wind" style="font-size:0.6rem; font-weight: bold;">{{spot.windProbability}}%</label>
    </div>
    <div class="p-0" style="margin-bottom: 3px">
        <label class="m-0" style="font-size:0.6rem;">LATITUDE</label>
        <br>
        <label class="m-0" id="lat" style="font-size:0.6rem; font-weight: bold;">{{math.abs(spot.latitude)}} <span *ngIf="spot.latitude>=0">N</span><span *ngIf="spot.latitude<0">S</span></label>
    </div>
    <div class="p-0" style="margin-bottom: 3px">
        <label class="m-0" style="font-size:0.6rem;">LONGITUDE</label>
        <br>
        <label class="m-0" id="long" style="font-size:0.6rem; font-weight: bold;">{{math.abs(spot.longitude)}} <span *ngIf="spot.longitude>=0">E</span><span *ngIf="spot.longitude<0">W</span></label>
    </div>
    <div class="p-0">
        <label class="m-0" style="font-size:0.6rem;">WHEN TO GO</label>
        <br>
        <label class="m-0" id="long" style="font-size:0.6rem; font-weight: bold;">{{spot.whenToGo}}</label>
    </div>
    <br>
    <button *ngIf="!spot.isFavorite" class="btn btn btn-warning" style="font-size: 0.7rem; width:100%" (click)="addFavorites(spot)"><i class="fas fa-plus"></i> Add to favorites</button>
    <button *ngIf="spot.isFavorite" class="btn btn btn-danger" style="font-size: 0.7rem; width:100%" (click)="removeFavorites(spot)"><i class="fas fa-minus"></i> Remove from favorites</button>
    <button class="btn btn btn-danger" style="margin-top: 3px; font-size: 0.7rem; width:100%" (click)="removeSpot(spot)"><i class="fas fa-ban"></i> Remove spot</button>
</div>