<h4 mat-dialog-title>Add Spot</h4>
<div mat-dialog-content>
    <p>Name</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <p>Country</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.country">
    </mat-form-field>
    <p>High Seazon</p>
    <mat-form-field>
        <input matInput [matDatepicker]="d" placeholder="Select date" disabled [(ngModel)]="data.whenToGo">
        <mat-datepicker-toggle matSuffix [for]="d"></mat-datepicker-toggle>
        <mat-datepicker #d disabled="false"></mat-datepicker>
    </mat-form-field>
    <p>Select a location from map</p>
    <div id="mapAdd" style="height: 200px;width: 320px">
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" style="color: red">Cancel</button>
    <button mat-button [mat-dialog-close]="data" style="color: royalblue" [disabled]="btdAddSpotDisabled">Confirm</button>
</div>