<div mat-dialog-content>
    {{message}}
</div>
<div mat-dialog-actions class="text-center p-1">
    <button class="btn btn-warning m-1" mat-button (click)="onNoClick()">No</button>
    <button class="btn btn-success m-1" mat-button [mat-dialog-close]="true">Yes</button>
</div>