<nav class="navbar navbar-expand-sm navbar-light">
  <img src="../assets/Kite.png">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
        <li class="nav-item">
          <button class="btn btn-primary" (click)="addSpot()"><i class="fa fa-plus"></i> Add spot</button>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle fa-2x"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="border: none; min-width:0rem;" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="logOut()" style="color:red"><i class="fa fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="p-1" style="margin-top: 35px;margin-right: 5px">
  <router-outlet></router-outlet>
</div>