<div style="max-width: 700px">
    <div class="col-md-5">
        <h1>Log in</h1>
        <hr><br>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input [(ngModel)]="user.email" name="email" type="email" required class="form-control" id="email"
                    placeholder="enter your email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password" name="password" type="password" required class="form-control"
                    id="password" placeholder="enter a password">
            </div>
            <button type="submit" class="btn btn-primary m-1">Log In</button>
        </form>
        <div>
            <span>Don't have an account?&nbsp;</span>
            <a [routerLink]="['/sign-up']">Sign up!</a>
        </div>
    </div>
</div>