<div id="map">
</div>
<h5>Locations</h5>
<div class="spot-container  mat-elevation-z8">
    <div class="spot-table-container">
        <table mat-table [dataSource]="data" class="spot-table">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef>Country</th>
                <td mat-cell *matCellDef="let row">{{row.country}}</td>
            </ng-container>
            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef>Latitude</th>
                <td mat-cell *matCellDef="let row">{{row.latitude}}</td>
            </ng-container>
            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef>Longitude</th>
                <td mat-cell *matCellDef="let row">{{row.longitude}}</td>
            </ng-container>
            <ng-container matColumnDef="windProbability">
                <th mat-header-cell *matHeaderCellDef>Wind prob</th>
                <td mat-cell *matCellDef="let row">{{row.windProbability}}%</td>
            </ng-container>
            <ng-container matColumnDef="whenToGo">
                <th mat-header-cell *matHeaderCellDef>When to go</th>
                <td mat-cell *matCellDef="let row">{{row.whenToGo}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</div>