.spot-container {
    min-height: 200px;
    width: 100%;
  }
  
  .spot-table-container {
    max-height: 250px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-row{
    height: 23px;
  }

  .mat-header-cell{
    font-size: 1.3rem;
  }
  .spot-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spot-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

  #map {
    height: 500px;
    width: 100%;
    margin: 5px;
  }